<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link href="stylesheets/style.css" rel="stylesheet"> -->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/logout">
                    Logout
                </a>
                <a class="navbar-brand" href="/signup">
                  Sign Up
              </a>
              <a class="navbar-brand" href="/login">
                Log In
            </a>
            <a class="navbar-brand" href="/view">
              View
          </a>
          <a class="navbar-brand" href="/create">
            Create
        </a>
        <a class="navbar-brand" href="/search">
            Search for a Book
        </a>
            </div>
        </div>
    </nav>
 {{{ body }}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script type="text/javascript" src="js/review.js"></script>
    <script type="text/javascript" src="js/search.js"></script>

</body>

</html>