  {{>header   active_home=true}}
  <main>
    <div class="parallax-container" id="first-img">
      <div class="parallax"><img src="images/parallax1.jpg"></div>
    </div>
    <div class="section bg-color">
      <div class="row container">
        <div class="col s12 m10 offset-m1">
          <h2 class="header center brand-logo">Book Club</h2>
          <h4 class="center">A website to review your favorite books within 128 characters or less! Write reviews, browse reviews, and much more! </h4>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/parallax3.jpg"></div>
    </div>
    <div class="section bg-color">
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <h2 class="header center brand-logo">The Latest Reviews</h2>
        </div>
        <div class="col s12 m12">
          <div class="row" id="latestReviews">

            </div>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/parallax2.jpg"></div>
    </div>
  </main>