 {{>header   active_contact=true}}

<main class="contactDisplay">
    <div class="container col s8">
        <div class=" card-panel sign-card">
        <div class="row">
              <div class="col s12">
                <h3 class="brand-logo center black-text">Contact Me</h3>
              </div>
        </div>
        <form class="col s14" action="https://formspree.io/mknqyokk" method="POST">
          <div class="row">
            <div class="input-field hoverable col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" type="text" class="validate">
              <label for="username">Name</label>
            </div>
            <div class="input-field hoverable col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Message</label>
            </div>

        </div>
<div class="row">
    <div class="col s12">
    <a class="right waves-effect waves-light btn right hoverable"><i class="large material-icons right">done</i>submit</a>
</div>
</div>
        </form>
    </div>
      </div>
</main>