 {{>header   active_login=true}}
<main class="background">
    <div class="container col s8">
        <div class=" card-panel sign-card">
        <div class="row">
              <div class="col s12">
                <h3 class="brand-logo center black-text">Log In</h3>
              </div>
        </div>
        <form class="login col s14">
          <div class="row">
            <div class="input-field hoverable col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field hoverable col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>

        </div>
<div class="row">
    <div class="col s12">
        <p class="left ">Or sign up <a href="/signup">here</a></p>
    <button type="submit" class="right waves-effect waves-light btn right hoverable"><i class="large material-icons right">done</i>Login</button>
</div>
</div>
        </form>
    </div>
      </div>
</main>