  {{>navbar   active_memberstab=true}}
    <div class="slideshow-container">
          <img src="../public/images/booksbackground4.jpg" style="width:fit-content; height: fit-content; visibility: collapse;">
          <div class="bookinfo">
            <div class="booktitle">The Old Man and the Sea</div>
            <div class="bookheadline">"Worst Book...Ever!"</div>
            <div class="bookrating">2 Liked 5 Disliked</div> 
            </div>
        </div>
        
        </div>