  {{>navbar   active_memberstab=true}}
 <div class="container-fluid">
          <div>
          <div class="jumbotron">
            <div class="booktitle text-center">Welcome to Book Club!</div>
            <div class="bookheadline text-center">A website that allows users to search for their favorite or least favorite books, leave reviews, and rate other reviews.</div>
           </div>

            <div class="jumbotron">
            <div class="booktitle">The Old Man and the Sea</div>
            <div class="bookheadline">"Worst Book...Ever!"</div>
           </div>
           </div>
        </div>