form.signup,
form.login {
  margin-top: 50px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Book info box*/
.bookinfo {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

/* Book title */
.booktitle {
  text-align: left;
  margin-left: 10%;
  font-size: 45px;
}

/* Book headline */
.bookheadline {
  text-align: left;
  margin-left: 10%;
  font-size: 30px;
}

/* Book rating */
.bookrating {
  text-align: left;
  margin-left: 10%;
  font-size: 25px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Nav bar */
.navbar {
  background-color: rgb(231, 198, 108);
  border-color: rgb(231, 198, 108);
  border: 3px;
  border-style: solid;
  color: black;
}

.signupBox{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card{
  margin: 10px;
}
.searchRows{
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item{
  margin: 10px;
  border-radius: 5px;
}

.row {
  background-color: rgb(241, 205, 126);
  opacity: 0.90;
  font-weight: 1000;
  color: black;
}

/* Create Page*/
#review {
  resize: vertical;
  height: auto;
  background-color: white;
  color: black;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.filloutform {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#title {
  background-color: white;
  color: black;
}


.form {
  background-color: rgb(241, 205, 126);
  opacity: 0.90;
}

/* Home Page*/
.bookinfo {
  background-color: rgb(241, 205, 126);
  opacity: 0.80;
  color: black;
}

body {
  font-family: 'Cutive Mono', monospace;
  font-weight: 1000;
  background-image: url(../images/booksbackground4.jpg);
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
height: max-content;
position: relative;
}

.jumbotron{
  margin-top: 10px;
  background-color: rgb(241, 205, 126);
  opacity: 0.90;
}

/* background image */

html {
  background-image: url(../images/booksbackground4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgb(241, 205, 126);
}
.filloutform {
    background-image: url(../images/booksbackground4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#upvote {
  background-image: url(../images/uparrow.jpg);
  width: 30px;
  height: 30px;
}

#downvote {
  background-image: url(../images/downarrow.jpg);
  width: 30px;
  height: 30px;
}

/* tabs */

.active {
  font-size: x-large
}

/* search page */

#searchBook {
  width: 50%;
  height: 30px;
}