form.signup,
form.login {
  margin-top: 50px;
}

/* Slideshow css*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Book info box*/
.bookinfo {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

/* Book title */
.booktitle {
  text-align: left;
  margin-left: 10%;
  font-size: 45px;
}

/* Book headline */
.bookheadline {
  text-align: left;
  margin-left: 10%;
  font-size: 30px;
}

/* Book rating */
.bookrating {
  text-align: left;
  margin-left: 10%;
  font-size: 25px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Nav bar */
.navbar {
  background-color: rgb(231, 198, 108);
  border-color: rgb(231, 198, 108);
  border: 3px;
  border-style: solid;
  color: black;
}

.signupBox{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card{
  margin: 10px;
}
.searchRows{
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item{
  margin: 10px;
  border-radius: 5px;
}

.row {
  background-color: rgb(241, 205, 126);
  opacity: 0.90;
  font-weight: 1000;
  color: black;
}

/* Create Page*/
#review {
  resize: vertical;
  height: auto;

}

.filloutform {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#title {
  background-color: white;
  color: black;
}

#firstname {
  background-color: white;
  color: black;
}

#lastname{
  background-color: white;
  color: black;
}

#review{
  background-color: white;
  color: black;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.form {
  background-color: rgb(241, 205, 126);
  opacity: 0.90;
}

/* Home Page*/
.bookinfo {
  background-color: rgb(241, 205, 126);
  opacity: 0.80;
  color: black;
}

body {
  font-family: 'Cutive Mono', monospace;
  font-weight: 1000;
  background-image: url(../images/booksbackground4.jpg);
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
height: max-content;
position: relative;
}


/* background image */

html {
  background-image: url(../images/booksbackground4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgb(241, 205, 126);
}
.filloutform {
    background-image: url(../images/booksbackground4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#upvote {
  background-image: url(../images/uparrow.jpg);
  width: 30px;
  height: 30px;
}

#downvote {
  background-image: url(../images/downarrow.jpg);
  width: 30px;
  height: 30px;
}

/* tabs */

.active {
  font-size: x-large
}

/* search page */

#searchBook {
  width: 50%;
  height: 30px;
}