nav .brand-logo {
  position: relative;
  margin-left: 10px;
}

.userPanel{
    padding-left: 35px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #3f2f2f;
}

main {
  flex: 1 0 auto;
}

/* Form Styling */
  /* label color */
  .input-field label {
      color: #000;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
      color: #000;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }
    /* valid color */
    .input-field input[type=text].valid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #000;
    }


   .sign-card{
       margin-top: 100px;
       margin-bottom: 100px;
   }

   #background-static{
      background: #fff;
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
  }
  .header-img{
      height: 100vh;
      width: 100vw;
  }

  #first-img{
      height: 250px;
    }

    .brand-logo{
      font-family: 'Noto Serif JP', serif;
    }

    .nav-wrapper{
      background-color: #864d2d;
    }

    .page-footer{
      background-color: #864d2d;
    }
    
    .bg-color{
        background-color: #e6dad7;
    }

    .authorStyle{
      font-style: italic;
    }

    html, body{
      height: 100%;
    }
    .contactDisplay { 
      background-image: url(../images/contact.jpg) ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
  
    }

    .background { 
      background-image: url(../images/background.jpg) ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
  
    }

    .hide{
      display: none;
    }

    .thumbnail-img{
      width: 100%;
    }

    .scroll-box {
      overflow-y: scroll;
      height: 75%;
      padding: 1rem
  }

  .searchAction{
    position: static !important;
  }